## O que são listas ordenadas manualmente?

Uma lista em python é um conjunto de elementos em ordem representado pela expressão *list()*, no qual seu conteúdo é apresentado entre colchetes [ ] e, dentro deles, separado por vírgulas (para criar uma lista vazia, basta apenas representar os colchetes sem nenhum elemento dentro deles).

>


Listas podem ser de vários tipos como números inteiros, reais, strings, entre outros. É possível até, fazer lista de listas.

In [0]:
lista = []
print(lista)

sapatos = [36, 37, 38, 39, 40, 41, 42]
print(sapatos)

peso = [86.4, 53.4, 57.5, 89.5, 71.1]
print(peso)

nomes = ["acsa", "anna", "dani", "gabs", "malu", "martins"]
print(nomes)

listas = [sapatos, peso, nomes]
print(listas)

[]
[36, 37, 38, 39, 40, 41, 42]
[86.4, 53.4, 57.5, 89.5, 71.1]
['acsa', 'anna', 'dani', 'gabs', 'malu', 'martins']
[[36, 37, 38, 39, 40, 41, 42], [86.4, 53.4, 57.5, 89.5, 71.1], ['acsa', 'anna', 'dani', 'gabs', 'malu', 'martins']]

Também podemos colocar strings e números em uma mesma lista!

In [0]:
pessoa = [1.67, 58, "estuda no IMD"]
print(pessoa)

[1.67, 58, 'estuda no IMD']

Cada item da lista tem a ele um índice associado, começando por 0 e terminando no número total de elementos da lista subtraído de 1. Então se existir uma lista com 5 elementos, por exemplo, os índices de seus elementos vão ser de 0 a 4.

In [0]:
comidas = ["pizza", "chocolate", "coxinha", "pastel de frango", "hambúrguer"]
print(comidas[0])
print(comidas[1])
print(comidas[2])
print(comidas[3])
print(comidas[4])

pizza
chocolate
coxinha
pastel de frango
hambúrguer

Em Python é possível acessar os elementos da lista por um index negativo, também. Sendo -1 o último elemento da lista, -2 o penúltimo e assim por diante.

In [0]:
print(comidas[-1])
print(comidas[-2])

hambúrguer
pastel de frango

Quando tentamos acessar um index fora da lista, ocorrerá a exceção IndexError.

In [0]:
print(comidas[6])

IndexError: ignored

É possível parcionar as listas usando o operador : (dois pontos).
>
**Observação:** Quando utilizamos o operador ":" o segundo index não será incluso. Ou seja em print(comidas[2:4]) os elementos que serão printados são os que estão nas posições 2 e 3, apenas.

In [0]:
print(comidas[1:3])

print(comidas[:3])

print(comidas[2:])

['chocolate', 'coxinha']
['pizza', 'chocolate', 'coxinha']
['coxinha', 'pastel de frango', 'hambúrguer']

Para concatenarmos duas listas utilizamos o operador "+".

In [0]:
lista_1 = [1, 2, 3]
lista_2 = [4, 5, 6]

print(lista_1 + lista_2)

[1, 2, 3, 4, 5, 6]

## Para que servem essas listas?

As listas foram criadas para nos ajudar quando necesitamos da disposição organizada e ordenada dos elementos, seguindo uma categoria ou lugar que lhes convém. Elas servem para quando nós precisarmos acessar um lugar específico da lista que já sabiamos o que tinha anteriormente, por meio dos índices, ou numa situação em que a sequência dos valores está atrelada a outros dados e precisamos exatamente dessa sequência, ou simplesmente para não perdemos a ordem da coleção dos objetos.

## Alguns métodos e funções importantes:

As listas ordenadas manualmente possuem alguns métodos e funções para facilitar a sua manipulação.

###criar uma lista de valores númericos sequencias:

In [0]:
valores = list(range(4,11))
print(valores)

[4, 5, 6, 7, 8, 9, 10]

###sort(): 
Esse método serve para ordenar uma lista em ordem crescente ou alfabética. Entretanto, ele não pode organizar entre listas mistas (numéricos e strings).

In [0]:
compras = ["óleo", "sal", "água", "cenoura", "papel", "algodão"]
compras.sort()
print(compras)

['algodão', 'cenoura', 'papel', 'sal', 'água', 'óleo']

In [0]:
notas = [5.6, 10.0, 5.7, 7, 10.0, 10.0, 7.5, 8, 8.4, 2.4, 9.8, 2.1, 2, 5, 6]
notas.sort()
print(notas)

[2, 2.1, 2.4, 5, 5.6, 5.7, 6, 7, 7.5, 8, 8.4, 9.8, 10.0, 10.0, 10.0]

In [0]:
mistureba = ["juremilda", 99.9, "godofredo", 101, 3]
mistureba.sort()
print(mistureba)

TypeError: ignored

###count(): 
o método conta a quantidade de vezes que um dado elemento aparece e a retorna.

In [0]:
n = notas.count(10.0)
print(n, "alunos tiram nota 10.0 na prova")

3 alunos tiram nota 10.0 na prova

###reverse(): 
Esse método reverte todos os valores da lista, onde o elemento do índice 0 será trocado com o elemento n, o 1 com o elemento n-1, e assim por diante.

In [0]:
alunos = ["Acsa", "Anna", "Dani", "Malu", "Gabs", "Martins"]
alunos.reverse()
print (alunos)

['Martins', 'Gabs', 'Malu', 'Dani', 'Anna', 'Acsa']

### clear():
>
Utilizando o método clear limpamos determinada lista.

In [0]:
numeros = [10, 20, 30, 40]
print(numeros)

numeros.clear()
print(numeros)

[10, 20, 30, 40]
[]

###max(): 
Essa função retorna o valor máximo da lista (esse comando não funciona quando a lista tem elementos de tipos diferentes, exemplo: int com string),
para o caso em que a lista é de strings, ele retorna o elemento que possui a primeira letra "maior" de A a Z(sendo A a menor e Z a maior). No caso em que a primeira
letra é igual ele compara a segunda e assim sucessivamente.

In [0]:
sapatos = [36, 37, 38, 39, 40, 41, 42]
m = max(sapatos)
print ("valor máximo: ", m)

alunos = ["Acsa", "Dani", "Malu", "Gabs", "Martins"]
m = max(alunos)
print("maior nome: ", m)

valor máximo:  42
maior nome:  Martins

###min(): 
Essa função retorna o valor mínimo da lista. as observações apresentadas no item anterior tambem se aplicam a esse método sendo que ele retornará o nome que começar pela menor letra.

In [0]:
sapatos = [36, 37, 38, 39, 40, 41, 42]
m = min(sapatos)
print ("valor mínimo: ", m)

alunos = ["Acsa", "Dani", "Malu", "Gabs", "Martins"]
m = min(alunos)
print("menor nome: ", m)

valor mínimo:  36
menor nome:  Acsa

###sum(): 
Essa função retorna a soma dos valores da lista. porém temos duas formas de escreve-lo: 1° sem parametros , 2° com um valor inicial para ser somado.
Esse método não funciona com elementos do tipo string.

In [0]:
lista= [1, 2, 3, 4, 5]
m = sum(lista)
print ("Soma: ", m)

m = sum(lista, 10)
print ("Soma começando com o valor 10: ", m)

Soma:  15
Soma começando com o valor 10:  25

###Adicionar um valor em determinada posição - insert():
Usamos o método list.insert(índice, valor), o qual toma dois argumentos: o primeiro é o índice da lista onde será inserido o valor e o segundo equivale ao valor que será adicionado. Caso já exista um valor naquela posição, a função move todos os outros valores para uma posição posterior à que ele ocupava antes.

In [0]:
lista = [10, 20, 30, 40, 50, 60]
print("lista original:", lista)

lista original: [10, 20, 30, 40, 50, 60]

In [0]:
lista.insert(0, 0)
print("primeira lista:", lista)
lista.insert(0, -10)
print("nova lista:", lista)
lista.insert(8, 70)
print("mais uma lista:", lista)

primeira lista: [0, 10, 20, 30, 40, 50, 60]
nova lista: [-10, 0, 10, 20, 30, 40, 50, 60]
mais uma lista: [-10, 0, 10, 20, 30, 40, 50, 60, 70]

###Adicionando um ou mais valores ao final da lista - append() e extend()
> 
Para adicionarmos um elemento ao final da lista utilizamos o método append(). Caso queira ser feita a adição de mais de um elemento utilizamos o método extend().

In [0]:
numeros = [1, 2, 3]
print(numeros)

numeros.append(4)
print(numeros)

numeros.extend([5,6,7])
print(numeros)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]

###Remover elementos da lista - pop(), remove() e del 

**-pop():**
usamos o método lista.pop(índice), o índice será passado como argumento e aquele elemento que lá estava localizado será removido e retornado pelo método.

**#ATENÇÃO:** Caso o **pop()** não receba argumentos, ele removerá o último ítem da lista e o retornará.

**-remove():**
No entanto, caso seja necessário remover um elemento de índice desconhecido, utiliza-se o método lista.remove(elemento). Se o valor removido não existir naquela lista, o programa retornará um erro.

**-del:**
Pode ser utilizado para deletar um elemento, uma sequencia de elementos, ou a própria lista.

In [0]:
a = lista.pop()
print("a lista agora é", lista, "e o ítem removido foi:", a)

a lista agora é [-10, 0, 10, 20, 30, 40, 50, 60] e o ítem removido foi: 70

In [0]:
b = lista.pop(0)
print("a lista agora é", lista, "e o ítem removido foi:", b)

a lista agora é [0, 10, 20, 30, 40, 50, 60] e o ítem removido foi: -10

In [0]:
lista.remove(20)
print("a lista agora é", lista)

a lista agora é [0, 10, 30, 40, 50, 60]

In [0]:
del lista[0]  
print("a lista agora é", lista)

a lista agora é [10, 30, 40, 50, 60]

In [0]:
del lista[2:4]
print("a lista agora é", lista)

a lista agora é [10, 30, 60]

In [0]:
del lista #irá deletar a lista por completo
print(lista) #como a lista foi deletada, ela não estará mais definida. Ocasionando o erro: 'lista' is not defined

NameError: ignored

###Copiando dos conjuntos:

Listas também apresentam alguns usos de conjuntos, tais como:

- poder verificar se um elemento está na lista
- saber o comprimento da lista (quantos elementos tem)

In [0]:
lista = [10,20,30,40]
10 in lista

True

In [0]:
print(len(lista))

4

## Exercícios:

1 - Faça um programa que solicite ao usuário números e os armazene em uma lista de 5 posições. Crie uma função que recebe a lista preenchida e substitua todas as ocorrência de valores positivos por 1 e todos os valores negativos por 0. ##(Dani)

Exemplo:

Entrada: [5, -3, 4, -1, -5]

Saída: [1, 0, 1, 0, 0]

(PUC-RIO) 2 - Crie uma função que recebe uma lista de números e :


*  retorne o maior elemento
*  retorne a soma dos elementos
*  retorne o número de ocorrências do primeiro elemento da lista
*  retorne a média dos elementos
*  retorne o valor mais próximo da média dos elementos
*  retorne a soma dos elementos com valor negativo
*  retorne a quantidade de vizinhos iguais

3 - Faça um Programa que leia duas listas com 10 elementos cada. Gere uma terceira listas de 20 elementos, cujos valores deverão ser compostos pelos elementos intercalados das duas outras listas. ##(Acsa)

Exemplo:

primeira lista = [1,3,5,7,9]

segunda lista = [2,4,6,8]

resultado esperado = [1,2,3,4,5,6,7,8,9]

4 - Faça um Programa que peça a idade e a altura de 5 pessoas, armazene cada informação na sua respectiva lista. Imprima a idade e a altura na ordem inversa a ordem lida. ##(Malu)

Exemplo:

idades = [20, 15, 53, 18, 32]

alturas = [1.80, 1.51, 1.68, 1.65, 1.77]

exibição das listas na ordem inversa:

idades = [32, 18, 53, 15, 20]

alturas = [1.77, 1.65, 1.68, 1.51, 1.80]

(PUC-RIO) 5 - Faça um programa que percorre uma lista e exiba na tela o valor mais próximo da média dos valores
da lista.

Exemplo:

lista = [2.5, 7.5, 10.0, 4.0] (média = 6.0)

Valor mais próximo da média = 7.5 ##(Dani)

(PUC - editada) 6 - Crie uma função que recebe uma lista de strings e:
1.   retorne o elemento com mais caracteres;
2.   retorne o elemento com menos caracteres;
3.   retorne o número de ocorrências do primeiro elemento da lista; ##(Malu)

Exemplo:

lista = [arlindo, jurema, josefina, josicleydson, bob, arlindo]

elemento com mais carateres: "josicleydson"

elemento com menos caracteres: "bob"

número de ocorrências do primeiro elemento da lista: 2

(PUC-RIO) 7 - Duas amigas estabeleceram o código abaixo para que suas mensagens não fossem lidas pelas
demais pessoas.

* 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

* ' ' a b c d e f  g  h  i   j    k   l    m  n    o p q r s t u v w x y z

Observe que cada letra equivale a um número entre 1 e 26 e o espaço ao 0.

Faça a função "traduzir", que recebe uma lista com uma mensagem (lSecreta) e "traduz" a sequência
armazenada em lSecreta de acordo com o código das amigas. 

Teste para lSecreta = [2,15,13,0,4,9,1];

8 - Construa um lançador de dados em que o usuário possa escolher a quantidade de faces e a quantidade de dados lançados. Armazene todos os resultados em uma lista na qual o índice corresponde a face do dado, e mostre o resultado de cada lançameto e a soma das faces. ##(Gabi)

9 - Faça uma função que receba uma lista de números armazenados de forma 
crescente, e dois 
valores ( limite inferior e limite superior), e 
exiba
a sublista cujos elementos são maiores ou iguais  ao  
limite inferior e menores ou iguais ao limite superior

Exemplo: 

lista inicial=[12,14,15,16,18,20,24,26,28,32,34,38] 

limite inferior=13

limite superior = 26

lista 
exibida: 
[14,15,16,18,20,24,26] ##Martins

10 - Agora com a lista anterior faça a soma dos elementos, começando com o valor 100, logo após calcule a média da lista e multiplique pela soma que você realizou, após isso, subtraia o menor valor da lista,  divida pelo maior valor e imprima ##Martins

11 - Uma empresa de pesquisas precisa tabular os resultados da seguinte enquete feita a um grande quantidade de organizações:
"Qual o melhor Sistema Operacional para uso em servidores?"

As possíveis respostas são:

1. Windows Server
2. Unix
3. Linux
4. Netware
5. Mac OS
6. Outro

Você foi contratado para desenvolver um programa que leia o resultado da enquete e informe ao final o resultado da mesma. O programa deverá ler os valores até ser informado o valor 0, que encerra a entrada dos dados. Não deverão ser aceitos valores além dos válidos para o programa (0 a 6). Após os dados terem sido completamente informados, o programa deverá calcular a percentual de cada um dos concorrentes e informar o vencedor da enquete. O formato da saída foi dado pela empresa, e é o seguinte:


Sistema Operacional /  Votos / %

* Windows Server / 1500 / 17%
* Unix / 3500 / 40%
* Linux / 3000 / 34%
* Netware / 500 / 5%
* Mac OS / 150 / 2%
* Outro / 150 / 2%

Total = 8800

O Sistema Operacional mais votado foi o Unix, com 3500 votos, correspondendo a 40% dos votos.